*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color:#0052FA;
    color: #90ef0ccf;
    padding: 20px;
}
header{
    background-color: #00cca0;
    COLOR: #fdfbfb;
    padding: 30px;
    text-align: center;
}
hr{
    padding: 30px;
}
nav{
    background-color: #fdfbfb;
    justify-content: center;
    gap:25px;
    margin-top: 20px;
    flex-wrap: wrap;
    display: flex;
}
nav a{
    color: #000066;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
}

main{
    margin:auto;
    width: 90%;
    margin-top: 30px;

}
section{
    margin-bottom: 30px;
    background-color: honeydew;
    padding: 20px;
    border-radius: 20px;
}
h2{
    color:#da11ec;
    margin-bottom: 10px;
}
p{
    color: #FC0505;
    margin-bottom: 10px;
}

.banner{
    width: 80%;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

ul{
    list-style-type: disc;
    margin-left: 50px;
    padding: 10px;
}

li{
    margin-bottom: 10px;
}
article{
    background-color:#0D02F0;
    padding:20px;
    border-radius:10px;
}
article.hover{
    background-color: chartreuse;
}
table{
    width: 90%;

}
td{
    padding: 10px;
    text-align:center;
}
table, th,td{
    border:1px solid #ccc;
}
tr.hover{
    background-color: #f2f2f2;
}

ol{
    margin-left: 50px;
    pading: 10px;
}
ol li{
    margin-bottom: 10px;
}

form{
    margin-top: 20px;
}
label{
    display: block;
    margin-bottom: 2px;
    font-weight: bold;
}
input:not([type="submit"]):not([type="radio"]){
    width: 60%;
    padding: 5px;
    margin-bottom:5px;
    border: 1px solid #ccc;
    border-radius:5px;

}