<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nri</title>
</head>
<body>
    <h1>hello world</h1>
    <nav>
        <a href="/index">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/courses">Courses</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a href="/trainers">Trainers</a>
        <a href="/PRACTICE">PRACTICE</a>
    </nav>
    <hr>i am kihore</hr>
    <main>
        <section>
            <h2> welcome to NRIIT learning management system</h2>
            <p>we are leading providin o online learning solutons,
                 offering a wide range of courses and training 
                 propgrams to help u advance ur carrer </p>
            <img src="images/images (1).jpg"
            
            width="400">
        </section>
    </main>
    <pre>
        i am maxiux desimus meridius son of murderedd

        father husband of murdered wife 
    </pre>
    <a href="https://www.youtube.com/"
    target="_blank"
    title="here u r searching video">click me</a>
    <script src="js/script.js"></script>
    
</body>
</html>