<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Trainers page</title>
</head>
<body>
    <header>
    <h1>Trainers NRIIT Learning Management System</h1>
    <p>Learn Practice Get Placed</p>
    <nav>
        <a href="index.html">Home</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contact</a>
        <a href="courses.html">Courses</a>
        <a href="login.html">Login</a>
        <a href="register.html">Register</a>
        <a href="trainers.html">Trainers</a>
        <a href="PRACTICE.html">PRACTICE</a>
    </nav>
    <hr>
    </header>
    <main>
        <section>
            <h2>Our Trainers</h2>
            <article>
                <img src="images/trainer1.jpg" alt="Trainer 1" width="200">
                <h3>Mr.Sriram</h3>
                <p>Python Fullstack Trainer</p>
                <p>Experience 4+ years</p>
            </article>
        </section>
    </main>
    <main>
         <section>
        <h2>locate us</h2>
        <iframe src="https://www.google.com/maps?q=ariripalli&output=embed">

        </iframe>
    </section>
        <footer>
            <hr>
            <p>&copy; 2826 NRIIT Learning Management
                system
            </p>
            <p>Email: info@nriit.edu</p>
            <p>phone num: +91 7997801415</p>
            <p>follow us: </p>
            <a href="#">facebook</a>
            <a href="#">instagram</a>
            <a href="#">linkedin</a>

        </footer>
    </main>
    <script src="js/script.js"></script>
</body>
</html>